// Color Var
@menu-color:          rgb(239,239,239);
@pink-color:          rgb(219,10,91);
@sidebar-color:       rgb(51,51,51);
@sidebarchannel-color:rgb(255,255,255);
@email-color:         rgb(241,241,242);
@email-color-hover:   rgb(128,128,128);

// Font Color Var
@font-title-color:    rgb(93,93,93);
@font-sidebar-color:  rgb(255,255,255);

// Dimension Var
@menu-height:           7.5vh;
@sidebar-width:         7.5vh;
@channel-dim:           5vh;
@container-height:      calc(100% - @menu-height);
@container-width:       calc(100% - @sidebar-width);
@email-width:           25%;
@email-height:          11.25vh;
@textbox-height:        10%;
@textbox-width-small:   calc(100% - (2 * @sidebar-width));
@textbox-width-big:     calc(100% - (1.33 * @sidebar-width));

// Font Var
@font-main:             'Calibri light', serif;
@font-channel:          'Tahoma', serif;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    height: 2px;
    width: 80%;
    border: 0;
    border-top: 2px solid @menu-color;
    margin: 1em 0;
    padding: 0;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: @menu-height;
    background-color: @menu-color;
    box-shadow: 0px 2px 6px gray;
    z-index: 100;
    .img {
        float: left;
        height: 100%;
    }
    .menu {
        height: 100%;
        .title {
            float: left;
            font-size: 3vh;
            font-family: @font-main;
            color: @font-title-color;
            margin-top: 1.75vh;
            margin-bottom: 2vh;
            margin-left: 2vh;
        }
        .menu-btn {
            float: right;
            font-size: 3vh;
            color: @font-title-color;
            margin-top: 2vh;
            margin-bottom: 2vh;
            margin-right: 2vh;
            &:hover {
                cursor: pointer;
                color: @pink-color;
            }
        }
    }
}

// Animation Classes
@keyframes left {
    0% {left: 0px}
    100% {left: -75px}
}
@keyframes right {
    0% {left: -75px}
    100% {left: 0px}
}

.left {
    animation-name: left;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}
.right {
    animation-name: right;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

@keyframes smallEmail {
    0% {left: 0; width: 100%;}
    100% {left: @sidebar-width; width: @container-width;}
}
@keyframes bigEmail {
    0% {left: @sidebar-width; width: @container-width;}
    100% {left: 0; width: 100%;}
}

.smallEmail {
    animation-name: smallEmail;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}
.bigEmail {
    animation-name: bigEmail;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

@keyframes smallText {
    0% {width: @textbox-width-big;}
    100% {width: @textbox-width-small;}
}
@keyframes bigText {
    0% {width: @textbox-width-small;}
    100% {width: @textbox-width-big;}
}

.smallText {
    animation-name: smallText;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}
.bigText {
    animation-name: bigText;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

.sidebar {
    position: fixed;
    background-color: @sidebar-color;
    width: @sidebar-width;
    height: @container-height;
    padding-top: 8.75vh;
    padding-bottom: 1.25vh;
    .channel {
        position: relative;
        width: @channel-dim;
        height: @channel-dim;
        background-color: @sidebarchannel-color;
        margin: 0vh 1.25vh 3.75vh 1.25vh;
        border-radius: 5px;
        color: @font-sidebar-color;
        .title {
            position: relative;
            top: @channel-dim;
            text-align: center;
            font-size: 1.25vh;
            font-family: @font-channel;
        }
        .selected {
            position: relative;
            visibility: hidden;
            border-radius: 50%;
            width: 1vh;
            height: 1vh;
            background: radial-gradient(circle, @pink-color, @sidebar-color);
            right: 1.75vh;
        }
        .chosen {
            visibility: visible;
        }
        &:hover {
            cursor: pointer;
            background-color: @pink-color;
            color: @pink-color;
        }
        &:hover .selected,
        &:hover ~ .selected {
            visibility: visible;
        }
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    top: @menu-height;
    left: @sidebar-width;
    width: @container-width;
    min-height: @container-height;
    .email-list {
        flex-grow: 0;
        border: 1px solid lightgrey;
        min-width: @email-width;
        max-width: @email-width;
        min-height: 100%;
        .email {
            text-overflow: clip;
            min-width: 100%;
            overflow: hidden;
            height: @email-height;
            border-bottom: 1px solid lightgrey;
            box-sizing: border-box;
            padding: 1vh 1vh 1vh 1vh;
            background-color: @email-color;
            font-family: @font-main;
            font-size: 1.6vh;
            &:hover {
                cursor: pointer;
                background-color: @email-color-hover;
            }
            .title {
                font-weight: bold;
                margin-bottom: 0.25vh;
            }
            .triangle {
                position: absolute;
                margin-top: calc((@email-height / 2) - 20px);
                margin-left: calc(@email-width - 20px);
                width: 0; 
                height: 0; 
                border-bottom: 12px solid transparent;  /* left arrow slant */
                border-top: 12px solid transparent; /* right arrow slant */
                border-right: 12px solid white; /* bottom, add background color here */
                font-size: 0;
                line-height: 0;
                visibility: hidden;
            }
            .active {
                visibility: visible;
            }
        }
        .hidden {
            display: none;
        }
    }

    .email-body {
        flex-grow: 1;
        .content {
            margin: 3.5vh 5vh @textbox-height 5vh;
            .heading {
                font-family: @font-main;
                font-weight: bolder;
                font-size: 3vh;
            }
            .subheading {
                font-family: @font-main;
                font-style: italic;
                font-size: 2.25vh;
            }
            .email-img {
                display: block;
                max-width: 100%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3vh;
                margin-bottom: 0.5vh;
            }
            .email-caption {
                text-align: center;
                margin-bottom: 3vh;
                font-family: @font-main;
                font-style: italic;
                font-size: 1.5vh;
            }
            .body-opening {
                float: left;
                margin-right: 0.75vh;
                font-size: 6vh;
                font-family: @font-main;
                font-weight: bold;
                line-height: 4vh;
            }
            .body-text {
                margin-top: 1.75vh;
                margin-bottom: 0;
                font-family: @font-main;
                font-size: 1.75vh;
            }
        }
        .textbox {
            position: fixed;
            border-top: 1px solid lightgray;
            bottom: 0;
            width: 75%;
            height: @textbox-height;
            background-color: @sidebarchannel-color;
            form {
                input {
                    width: @textbox-width-small;
                    margin: 2.5vh 2.5vh 2.5vh 2.5vh;
                    padding: 1.5vh 2.5vh 1.5vh 2.5vh;
                    border-radius: 5px;
                    border: 1px solid lightgray;
                    font-size: 2vh;
                }
            }
        }
    }
}